.h1,
.h2 {
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  color: #f5b34e;
}

body {
  min-height: 100vh;
  font: normal 16px sans-serif;
  background-image: linear-gradient(
    to top,
    #181818 0%,
    #181818 75%,
    #181818 100%
  );
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: 560;
  color: #f5b34e;
  max-width: 1400px;
  max-height: 1200px;
  margin: auto;
  padding-left: 40px;
}

.container-fluid {
  padding: 0%;
}

.navbar-header {
  margin: 0px;
}

.fa {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.btn-md {
  max-width: 160px;
  width: 160px;
}

.jumbotron {
  max-width: 1400px;
  max-height: 1200px;
  margin: auto;
  background-image: linear-gradient(
    to top,
    #181818 0%,
    #181818 75%,
    #181818 100%
  );
}

h1,
h2 {
  padding-left: 1%;
}

h3 {
  color: whitesmoke;
}

.col-sm-2 {
  padding: 1%;
}

.col-md-6 {
  color: aliceblue;
}

.col-sm-4 {
  text-align: center;
}

.display-4 {
  color: #f5b34e;
  text-shadow: white 1px 1px;
}

.display-6 {
  color: #f5b34b;
}

.display-8 {
  color: #f5b34e;
  text-shadow: white 1px 1px;
  padding-left: 40px;
  max-width: 1400px;
  max-height: 1200px;
  margin: auto;
}

#projectImages img {
  cursor: pointer;
}
#projectImages .gif-file {
  display: none;
}
